body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #22323F;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #22323F;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Atma', cursive;
}

.navbar-search {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 4px;
    flex: 1;
    margin: 0 20px;
}

.navbar-search input {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    color: #333333;
    flex: 1;
    padding: 5px;
}

.navbar-search button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-search button ion-icon {
    font-size: 20px;
    color: #22323F;
}

.navbar-search button ion-icon:hover {
    color: #1a272e;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-links {
    font-size: 23px;
    color: #22323F;
    margin: 7px 20px 0 0;
    padding: 0;
}

.navbar-links:hover {
    color: #1a272e;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* adicionar novo contato */
.add-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.add-contact {
    max-width: 60%;
    margin: 30px auto;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    color: #22323F;
}

.add-contact h1 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 25px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background-color: #f1f1f1;
    color: #333333;
    border-radius: 4px;
}

.form-group input:focus, .form-group input:hover {
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #22323F;
    color: #fff;
    cursor: pointer;
}

.form-group button:hover {
    background: #1a272e;
}

fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

.social-container {
    display: flex;
    flex-direction: column;
}

.social-container .input-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-container .input-button-container input {
    flex-grow: 1;
}

.social-container input {
    margin-bottom: 10px;
}

.social-container .add-social {
    font-size: 23px;
    color: #22323F;
    cursor: pointer;
}

.social-container .add-social:hover {
    color: #1a272e;
}
